html {
    background-color: #1A1C23;
    }
    img{
    margin: 0;
    }
    table{
    margin: 50;
    width: 700px;
    border-collapse: collapse;
    }
    table, th, td {
    font-family: 'PT Serif', serif;
    color: #C0C0C0;
    font-size:18px;
    border: 1px solid #C0C0C0;
    }